:root {
    --key-width: calc(85vw / 15);
}


textarea {
    min-width: 320px;
    min-height: 100px;
    max-width: 720px;
    max-height: 300px;
}

#keyboard__ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    height: calc(var(--key-width) * 5 + 4vw);
    min-height: calc(200px + 4vw);
    width: 100vw;
    gap: 1vw;
}

.keyboard__ul__li {
    position: relative;
    list-style-type: none;
    height: var(--key-width);
    min-height: 40px;
    flex-basis: var(--key-width);
    font-size: calc(1em + 0.3vw);
    color: #2e2e2e;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    transition: color, background-color 3s;
    cursor: pointer;
}

.keyboard__ul__li:hover {
    color: rgb(24, 24, 24);
    background-color: rgb(95, 211, 226);
    transition: color, background-color 1s;
}

.keyboard__ul__li.active {
    color: black;
    background-color: aqua;
    transition: color, background-color 1s;
}

.key_backspace {
    flex: 1 0 calc(var(--key-width) * 2);
}

.key_tab {
    flex-basis: calc(var(--key-width) + 1vw);
}

.key_capslock {
    flex-basis: calc(var(--key-width) * 1.8);
}

.key_enter {
    flex: 1 0 calc(var(--key-width) * 2);
}

.key_shift {
    flex: 1 0 calc(var(--key-width) * 2);
}

.key_space {
    flex: 1 0 calc(var(--key-width) * 2);
}

.key_ctrl {
    flex-basis: calc(var(--key-width) + 0.5vw);
}